<ion-toolbar>
  <ion-button slot="start" (click)="voltar()" fill="clear">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <ion-title>
    <img src="assets/svg/Nutri_toolbar.png" alt="">
  </ion-title>
</ion-toolbar>

<ion-content>
  <form [formGroup]="formularioNRS">
    <ion-card>
      <ion-item lines="none">
        <ion-label>Paciente: {{ paciente.nome }}</ion-label>
      </ion-item>

      <ion-item>
        <ion-input label="Peso Atual" type="number" formControlName="pesoAtual" step="0.1"
          (ionInput)="calcularPerdaPeso(); calcularIMC()"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input label="Peso Habitual" type="number" formControlName="pesoHabitual" step="0.1"
          (ionInput)="calcularPerdaPeso()"></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-label>Data</ion-label>
        <ion-input type="text" formControlName="data" [value]="dataAtual"></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-label>IMC atual: {{ imcCalculado.toFixed(2) }}</ion-label>
      </ion-item>

      <ion-item lines="none">
        <ion-label>Perda de peso: {{ perdaPeso | number:'1.1-2' }}%</ion-label>
      </ion-item>
    </ion-card>

    <!-- Parte 1 -->
    <ion-card>
      <ion-card-header>
        <ion-label>Parte 1</ion-label>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-label>1. O IMC do paciente é &lt; 20,5 kg/m²?</ion-label>
            <ion-select formControlName="pIMC" placeholder="Selecione">
              <ion-select-option value="sim">Sim</ion-select-option>
              <ion-select-option value="nao">Não</ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item>
            <ion-label>2. O paciente teve perda de peso não-intencional nos últimos três meses?</ion-label>
            <ion-select formControlName="pPerda" placeholder="Selecione">
              <ion-select-option value="sim">Sim</ion-select-option>
              <ion-select-option value="nao">Não</ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item>
            <ion-label>3. O paciente teve redução na ingestão alimentar na última semana?</ion-label>
            <ion-select formControlName="pReducao" placeholder="Selecione">
              <ion-select-option value="sim">Sim</ion-select-option>
              <ion-select-option value="nao">Não</ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item>
            <ion-label>4. O paciente está em estado grave, mau estado geral ou em terapia intensiva?</ion-label>
            <ion-select formControlName="pEstado" placeholder="Selecione">
              <ion-select-option value="sim">Sim</ion-select-option>
              <ion-select-option value="nao">Não</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>

    <!-- Parte 2 -->
    <ion-card *ngIf="mostrarParte2" [formGroupName]="'nrs2'">
      <ion-card-header>
        <ion-card-title>Estado nutricional prejudicado (A)</ion-card-title>
        <ion-card-subtitle>Parte 2</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-radio-group formControlName="eNutricionalPrejudicado">
          <ion-item>
            <ion-label>Ausente: Estado nutricional normal</ion-label>
            <ion-radio slot="end" value="Ausente"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Leve: Perda de peso > 5% em 3 meses OU ingestão alimentar abaixo de 50-75%</ion-label>
            <ion-radio slot="end" value="Leve"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Moderado: Perda de peso > 5% em 2 meses ou IMC 18,5-20,5 kg/m² + condições gerais
              prejudicadas</ion-label>
            <ion-radio slot="end" value="Moderado"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Grave: Perda de peso > 5% em 1 mês (>15% em 3 meses) ou IMC < 18,5 kg/m²</ion-label>
                <ion-radio slot="end" value="Grave"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-card-content>
    </ion-card>

    <ion-card *ngIf="mostrarParte2" [formGroupName]="'nrs2'">
      <ion-card-header>
        <ion-card-title>Gravidade da doença (B)</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-radio-group formControlName="gravidadeDoenca">
          <ion-item>
            <ion-label>Ausente: Estado nutricional normal</ion-label>
            <ion-radio slot="end" value="Ausente"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Leve: Fratura de quadril, pacientes crônicos (cirrose, DPOC, diabetes, câncer)</ion-label>
            <ion-radio slot="end" value="Leve"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Moderado: Cirurgia abdominal maior, pneumonia grave, leucemias</ion-label>
            <ion-radio slot="end" value="Moderado"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Grave: Traumatismo craniano, transplante de medula, paciente em UTI</ion-label>
            <ion-radio slot="end" value="Grave"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-card-content>
    </ion-card>


    <ion-card *ngIf="mostrarParte2 && formularioNRS.get('nrs2')?.valid">
      <ion-card-header>
        <ion-card-title>
          O paciente está: {{ calcularEstadoNutricional().classificacao }} ({{ calcularEstadoNutricional().pontos }}
          pontos)
        </ion-card-title>
      </ion-card-header>
    </ion-card>

    <ion-card>
      <ion-item>
        <ion-label position="stacked">Evolução Nutricional / Observações</ion-label>
        <ion-textarea formControlName="evolucaoNutricional" autoGrow="true"></ion-textarea>
      </ion-item>
    </ion-card>

    <ion-button expand="block" color="success" (click)="gerarESalvarPdf()" [disabled]="isGeneratingPdf">
      <ion-spinner *ngIf="isGeneratingPdf"></ion-spinner>
      <span *ngIf="!isGeneratingPdf">Gerar PDF</span>
    </ion-button>
  </form>
</ion-content>
