<ion-toolbar>
  <ion-button slot="start" (click)="voltar()" fill="clear">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <ion-title>
    <img src="assets/svg/Nutri_toolbar.png" alt="">
  </ion-title>
</ion-toolbar>

<ion-content>
  <ion-searchbar [(ngModel)]="searchTerm" (ionInput)="filtrarPaciente()" placeholder="Nome do Paciente"></ion-searchbar>
    <ion-item *ngFor="let paciente of paciente">
      <ion-label>{{paciente.nome}}</ion-label>
        <ion-icon slot="end" name="menu" (click)="irDetalhar()" ></ion-icon>
    </ion-item>
</ion-content>
